@use '@angular/material' as mat;

:root {
  --primary-color: var(--mat-sys-primary, #005cbb);
  --primary-container-color: var(--mat-sys-primary-container, #d7e3ff);
  --divider-color: #37373742;
  --container-spacing: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // TODO: dark mode support?
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: var(--mat-sys-background);
}

button {
  &.secondary {
    --mdc-text-button-label-text-color: #1a1b1f;
  }
  &.warn {
    @include mat.button-overrides(
      (
        filled-label-text-color: #fff,
        filled-container-color: #e1b035,
      )
    );
  }
  &.danger {
    @include mat.button-overrides(
      (
        filled-label-text-color: #fff,
        filled-container-color: #ba1a1a,
      )
    );
  }
}

*::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--divider-color);
}
